#!/bin/sh

# PROVIDE: artificer

. /etc/rc.subr

name="artificer"
rcvar="artificer_enable"

command="/usr/local/bin/deno run --allow-write=./logs/,./src/endpoints/gets/heatmap.png --allow-read=./src/solver/,./src/endpoints/gets/heatmap-base.png --allow-net /var/dbots/TheArtificer/mod.ts"

load_rc_config artificer
run_rc_command "$1"
