[Unit]
Description=The Artificer Discord Bot
Documentation=https://github.com/Burn-E99/TheArtificer
After=network.target

[Service]
Type=simple
PIDFile=/run/deno.pid
ExecStart=/root/.deno/bin/deno run --allow-write=./logs/,./src/endpoints/gets/heatmap.png --allow-read=./src/artigen/,./src/endpoints/gets/heatmap-base.png,./src/endpoints/gets/heatmap.png,./config.ts,./flags.ts --allow-net --allow-import .\mod.ts
RestartSec=60
Restart=on-failure

[Install]
WantedBy=multi-user.target
